Django==1.11.22
django-appconf==1.0.3
django-compressor==2.3
django-cors-headers==3.0.2
django-filter==2.1.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
drf-nested-routers==0.91
drf_yasg==1.16.0
flex==6.14.0
future==0.17.1
geopy==1.20.0
lxml==4.6.3
pandas==0.23.4
pymongo==3.7.2
redis==3.0.1
scikit-learn==0.20.2
swagger-spec-validator==2.4.3
