<div class="container-fluid"
  style="height:100%; background-image:url('./assets/images/house-bkg-01.jpg');
    background-size:cover; opacity: 0.85;">
  <div class="container" style="text-align: center;" id="home_search_container">
    <h1 style="color: #EEE; font-size: 12em;">Sukasa</h1>
    <div class="container" style="text-align: center;"
      style="background:rgba(255, 255, 255, 0.7);">
      <div class="col-sm-8">
        <searchbar></searchbar>
      </div>
      <div class="row">
        <div class="col-sm-2" style="padding: 25 0 25 0;">
          <button type="button" class="btn btn-success outline">
            <strong>FOR SALE</strong>
          </button>
        </div>
        <div class="col-sm-2" style="padding: 25 0 25 0;">
          <button type="button" class="btn btn-success outline">
            <strong>TO RENT</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
