<div class="container-fluid"
  style="background-color:#EEE; border-bottom: 5px solid #E0E0E0;">
  <div class="container">
    <searchbar></searchbar>
  </div>
</div>

<div class="container" *ngIf="searchResults.length==0">
  No properties found that match "{{searchQuery}}"
</div>

<div class="container" *ngIf="searchResults.length > 0">
  <h2>Found {{((searchResults.length-1)*groupSize)+searchResults[(searchResults.length-1)].length}}
    results for "{{searchQuery}}" in properties for sale</h2>
  <div class="row" *ngFor="let resultGroup of searchResults">
    <div class="panel col-sm-6" style="padding-bottom: 35px;"
      *ngFor="let result of resultGroup">
      <img src={{result.image}}
        routerLink="/property/{{result.propertyId}}">
      <h3 style="text-transform: uppercase;"
        routerLink="/property/{{result.propertyId}}">{{result.address}}</h3>
      <h5>{{result.estateAgent.name}}</h5>
      <h4>{{result.brief}}</h4>
      <h4>{{result.price}}</h4>
    </div>
  </div>
</div>
